sql-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;

    .output-container {
        white-space: nowrap;

        .group.text {
            line-height: 1.35;
            margin-bottom: 1rem;
        }

        .query-params {
            color: green;
            font-weight: bold;
        }

        .query-time {
            color: goldenrod;
            font-weight: bold;
        }

        .logger-name {
            color: grey;
        }

        .sql-keyword {
            color: #0080fd;
            font-weight: bold;
        }

        .sql-select {
        }

        .sql-update {
            color: orange;
        }

        .sql-delete {
            color: red;
        }

        > div[class*='log-by-'] {
            display: none;
        }
    }

    .show-logs-by-default {
        .log-by-default {
            display: block !important;
        }
    }

    .show-logs-by-command {
        .log-by-command {
            display: block !important;
        }
    }

    .show-logs-by-connection {
        .log-by-connection {
            display: block !important;
        }
    }

    .show-logs-by-query {
        .log-by-query {
            display: block !important;
        }
    }

    .show-logs-by-changetracking {
        .log-by-changetracking {
            display: block !important;
        }
    }

    .show-logs-by-model {
        .log-by-model {
            display: block !important;
        }
    }

    .show-logs-by-infrastructure {
        .log-by-infrastructure {
            display: block !important;
        }
    }
}
