$dark-bg: #212121;

.window {
    min-height: 100vh;
    background-color: $dark-bg;
    color: white;
}

sidebar {
    flex: 0 0 15em;
}

#content {
    padding: 0.25rem;
}

#tabs {
    .nav-link {
        background-color: #333;
        color: white;
        font-weight: bold;
    }

    .nav-link.active {
        color: dodgerblue;
        border-color: dodgerblue;
    }
}

statusbar {
}

.queries {
    display: flex;
    flex-direction: column;
    flex: 1;
}
