$dark-bg: #212121;

.window {
    min-height: 100vh;
    background-color: $dark-bg;
    color: white;
}

sidebar {
    flex: 0 0 15em;
}

#content {
}

#tabs {
    .nav-link {
        background-color: #333;
        color: white;
        font-weight: bold;
    }

    .nav-link.active {
        color: dodgerblue;
        border-color: dodgerblue;
    }
}

#header {
}

#statusbar {
}

.query, query-view {
    flex: 1;
    display: flex;
    flex-direction: column;
}

query-view {
    padding-top: 0.5rem;
    background-color: #1e1e1e;
}

.text-editor {
    height: 300px;
    flex: 1;
}

.results {
    background-color: #444;
    color: white;
    flex: 1;
}
