@import "~styles/themes";
$statusbar-height: 20px;

#content {
    height: calc(100vh - #{$statusbar-height});
}

sidebar {
    width: 15em;
}

statusbar {
    height: $statusbar-height;
}

#tabs {
    $script-tab-padding-vertical: 0.15rem;
    $script-tab-padding-horizontal: 0.5rem;
    @include theme(border-bottom-color, borderColor);

    .script-tab {
        &.active {
            color: dodgerblue;
        }

        .tab {
            @include theme(background-color, backgroundColor);
            //@include theme(border-right, borderColor, 1px solid);
            font-weight: bold;
            cursor: default;
            height: 1.6rem;
            font-size: 0.75rem;
            padding: $script-tab-padding-vertical $script-tab-padding-horizontal;

            .text {
                display: inline-block;
            }

            .bi {
                padding: $script-tab-padding-vertical 1px;
            }

            &:hover {
                @include theme(background-color, hoverColor);
            }
        }

        &.new-script-tab .tab {
            padding: $script-tab-padding-vertical 0.4rem;
        }
    }
}
