@import "~styles/themes";

sidebar {
    flex: 0 0 15em;
}

#content {
}

#tabs {
    .script-tab {
        @include theme(background-color, backgroundColor);
        //@include theme(border-right, borderColor, 1px solid);
        font-weight: bold;
        cursor: default;
        height: 1.6rem;
        font-size: 0.75rem;

        $padding-vertical: 0.15rem;
        $padding-horizontal: 0.5rem;

        padding: $padding-vertical $padding-horizontal;

        .text {
            display: inline-block;
        }

        .bi {
            padding: $padding-vertical 1px;
        }

        &.new-script-tab {
            padding: $padding-vertical 0.6rem;
        }

        &:hover {
            @include theme(background-color, hoverColor);
        }
    }

    .script-tab.active {
        color: dodgerblue;
    }
}

.script-environments {
    display: flex;
    flex-direction: column;
    flex: 1;
}
