sidebar {
    flex: 0 0 15em;
}

#content {
    padding: 0.25rem;
}

#tabs {
    .nav-link {
        background-color: #333;
        color: white;
        font-weight: bold;
    }

    .nav-link.active {
        color: dodgerblue;
        border-color: dodgerblue;
    }
}

statusbar {
}

.scripts {
    display: flex;
    flex-direction: column;
    flex: 1;
}
