$dark: (
    textColor: #dcdcdc,
    textHighestContrastColor: #fff,
    textContrastColor: #34314b,
    backgroundColor: #222,
    backgroundDarkerColor: #1c1c1c,
    backgroundLighterColor: #333,
    borderColor: #3f3f3f,
    borderContrastColor: #555,
    hoverColor: rgba(255, 255, 255, 0.075),
    activeColor: #0d6efd,
    tabColor: rgb(45, 45, 45),
    tabActiveColor: rgb(30, 30, 30),
    tabActiveTextColor: #fff,
    tabInactiveTextColor: rgba(255, 255, 255, 0.65),
    splitterColor: #282828,
    scrollbarTrackColor: #343434,
    scrollbarThumbColor: #777,
    listBackground: #282828,
    actionIconColor: silver,
    actionIconHoverColor: white,
    formControlBackground: #333,
    kbdBackground: #59646e,
    boxShadow: 0 0 8px 2px rgb(0, 0, 0, .36),
    // WINDOW
    windowBorderColor: #333,
    // HEADER
    headerBackground: #333,
    // STATUSBAR
    statusbarBackground: #1b1c1d,
    // PANES
    paneRibbonBackground: #252525,
    // SCRIPT VIEW
    scriptHeaderBackground: #1e1e1e,
    resultsBackground: #222,
    resultsToolbarBackground: #333,
    // CONTEXT MENU
    contextMenuBackgroundColor: #323232,
);
