$dark: (
    // TEXT
    textColor: #dcdcdc,
    textStrongColor: #fff,
    textHoverColor: #fff,
    // BACKGROUND
    backgroundColor: rgb(34, 34, 34),
    backgroundDarkerColor: rgb(28, 28, 28),
    backgroundLighterColor: rgb(51, 51, 51),
    listBackground: #282828,
    formControlBackground: rgb(51, 51, 51),
    formControlDisabledBackgroundColor: rgb(28, 28, 28),
    kbdBackgroundColor: #59646e,
    // BORDERS
    borderColor: rgb(63, 63, 63),
    borderContrastColor: rgb(85, 85, 85),
    // ACTIONS
    hoverColor: rgba(255, 255, 255, 0.075),
    activeColor: #0d6efd,
    actionIconColor: silver,
    actionIconHoverColor: white,
    // SHADOWS
    boxShadowBottom: 0 7px 8px -8px rgb(0, 0, 0, .36),
    boxShadowBottomAndSides: 0 0 8px 2px rgb(0, 0, 0, .36),
    // TITLEBAR
    titlebarBackground: #1b1c1d,
    mainMenuDropdownItemBackgroundColor: #15539E,
    // STATUSBAR
    statusbarBackground: #1b1c1d,
    // PANES
    paneRibbonBackground: #252525,
    // SCRIPT VIEW
    scriptToolbarBackground: #1e1e1e,
    outputPaneBackground: #222,
    // CONTEXT MENU
    contextMenuBackground: #323232,
    contextMenuItemHoverBackground: #15539E,
    // DIALOG
    dialogBackground: #222,
    // TABS
    tabColor: rgb(45, 45, 45),
    tabActiveColor: rgb(30, 30, 30),
    tabActiveTextColor: #fff,
    tabInactiveTextColor: rgba(255, 255, 255, 0.65),
    // SCROLLBARS & SPLITTER
    scrollbarTrackColor: #343434,
    scrollbarThumbColor: #777,
    splitterColor: #282828,
);
