$light: (
    // TEXT
    text-color: #34314b,
    text-strong-color: #000000,
    text-hover-color: #000000,
    // BACKGROUND
    background-color: #f3f3f3,
    background-lighter-color: #f6f6f6,
    list-background: #f1f1f1,
    form-control-background-color: #fafafa,
    form-control-disabled-background-color: #ececec,
    kbd-background-color: #212529,
    // BORDERS
    border-color: #cccccc,
    border-contrast-color: #bfbfbf,
    // ACTIONS
    hover-color: rgb(0 0 0 / 8%),
    active-color: #0d6efd,
    action-icon-color: #595959,
    action-icon-hover-color: black,
    // SHADOWS
    box-shadow-bottom: 0 7px 8px -8px rgb(0 0 0 / 16%),
    box-shadow-bottom-sm: 0 5px 8px -8px rgb(0 0 0 / 16%),
    box-shadow-bottom-and-sides: 0 0 8px 2px rgb(0 0 0 / 16%),
    // TITLEBAR
    titlebar-background: #e1e1e1,
    // STATUSBAR
    statusbar-background: #e3e3e3,
    // SCRIPT VIEW
    script-toolbar-background: #ffffff,
    find-text-box-background: #ededed,
    // PANES
    pane-ribbon-background: #ececec,
    pane-background: #f3f3f3,
    // CONTEXT MENU
    context-menu-background: #f3f3f3,
    context-menu-item-hover-background: rgb(30 144 255 / 50%),
    // DIALOG
    dialog-background: #f3f3f3,
    // TABS
    tab-background: #ececec,
    tab-active-background: #ffffff,
    tab-active-text-color: #000000,
    tab-inactive-text-color: rgb(0 0 0 / 65%),
    // SCROLLBARS & SPLITTER
    scrollbar-track-color: #cecece,
    scrollbar-thumb-color: #7e8182,
    splitter-color: #dcdcdc,
    splitter-hover-color: #cacaca,
);
