$dark: (
    textColor: #fff,
    backgroundColor: #222,
    borderColor: #333,
    hoverColor: rgba(30, 144, 255, 0.5),
    activeColor: rgba(30, 144, 255, 0.7),
    splitterColor: #333,
    listBackground: #333,
    formControlBackground: #333,
    // WINDOW
    windowBorderColor: #333,
    // HEADER
    headerBackground: #333,
    // SIDEBAR
    sidebarBackground: #252525,
    // STATUSBAR
    statusbarBackground: #1b1c1d,
    // SCRIPT VIEW
    resultsBackground: #222,
    resultsToolbarBackground: #333,
);
