$dark: (
    textColor: #dcdcdc,
    textContrastColor: #34314b,
    backgroundColor: #222,
    borderColor: #3f3f3f,
    borderColorContrast: #555,
    hoverColor: rgba(255, 255, 255, 0.075),
    activeColor: #0d6efd,
    tabColor: #2d2d2d,
    tabActiveColor: #3f3f3f,
    splitterColor: #282828,
    scrollbarTrackColor: #a2a2a2,
    scrollbarThumbColor: #5d5d5d,
    listBackground: #282828,
    actionIconColor: silver,
    actionIconHoverColor: white,
    formControlBackground: #333,
    // WINDOW
    windowBorderColor: #333,
    // HEADER
    headerBackground: #333,
    // SIDEBAR
    sidebarBackground: #252525,
    // STATUSBAR
    statusbarBackground: #1b1c1d,
    // SCRIPT VIEW
    resultsBackground: #222,
    resultsToolbarBackground: #333,
);
