$dark: (
    textColor: #fff,
    backgroundColor: #222,
    borderColor: #333,
    borderColorContrast: #555,
    hoverColor: rgba(255, 255, 255, 0.075),
    activeColor: rgba(30, 144, 255, 0.7),
    splitterColor: #282828,
    scrollbarTrackColor: #a2a2a2,
    scrollbarThumbColor: #5d5d5d,
    listBackground: #282828,
    actionIconHoverColor: white,
    formControlBackground: #333,
    // WINDOW
    windowBorderColor: #333,
    // HEADER
    headerBackground: #333,
    // SIDEBAR
    sidebarBackground: #252525,
    // STATUSBAR
    statusbarBackground: #1b1c1d,
    // SCRIPT VIEW
    resultsBackground: #222,
    resultsToolbarBackground: #333,
);
