$light: (
    textColor: #34314b,
    backgroundColor: #ffffff,
    borderColor: #ccc,
    hoverColor: rgba(30, 144, 255, 0.15),
    activeColor: rgba(30, 144, 255, 0.35),
    splitterColor: #333,
    listBackground: #e0e0e0,
    formControlBackground: #eee,
    // WINDOW
    windowBorderColor: #ccc,
    // HEADER
    headerBackground: #333,
    // SIDEBAR
    sidebarBackground: #f3f3f3,
    // STATUSBAR
    statusbarBackground: #e8e8e8,
    // SCRIPT VIEW
    resultsBackground: #eaeaea,
    resultsToolbarBackground: #ccc,
);
