$light: (
    textColor: #34314b,
    backgroundColor: #ffffff,
    borderColor: #ccc,
    borderColorContrast: #444,
    hoverColor: rgba(0, 0, 0, 0.075),
    activeColor: #0d6efd,
    splitterColor: #dcdcdc,
    scrollbarTrackColor: #CECECE,
    scrollbarThumbColor: #7E8182,
    listBackground: #e0e0e0,
    actionIconHoverColor: black,
    formControlBackground: #eee,
    // WINDOW
    windowBorderColor: #ccc,
    // HEADER
    headerBackground: #333,
    // SIDEBAR
    sidebarBackground: #eaeaea,
    // STATUSBAR
    statusbarBackground: #e8e8e8,
    // SCRIPT VIEW
    resultsBackground: #fafafa,
    resultsToolbarBackground: #ccc,
);
