$light: (
    textColor: #34314b,
    textContrastColor: #d4d4d4,
    backgroundColor: #f3f3f3,
    borderColor: #ccc,
    borderColorContrast: #444,
    hoverColor: rgba(0, 0, 0, 0.075),
    activeColor: #0d6efd,
    tabColor: #e1e1e1,
    tabActiveColor: #c7c7c7,
    splitterColor: #dcdcdc,
    scrollbarTrackColor: #CECECE,
    scrollbarThumbColor: #7E8182,
    listBackground: #f1f1f1,
    actionIconColor: grey,
    actionIconHoverColor: black,
    formControlBackground: #eee,
    // WINDOW
    windowBorderColor: #ccc,
    // HEADER
    headerBackground: #333,
    // SIDEBAR
    sidebarBackground: #eaeaea,
    // STATUSBAR
    statusbarBackground: #dcdcdc,
    // SCRIPT VIEW
    resultsBackground: #fafafa,
    resultsToolbarBackground: #ccc,
);
