@import "~styles/themes";

.section {
    padding: 0 15px 15px 10px;

    &:not(:last-child) {
        @include theme(border-bottom, borderColor, 1px solid);
        margin-bottom: 10px;
    }

    > .header {
        font-size: 1.05rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .body {
        padding-left: 10px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .sub-header {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

