@import "~styles/main";

output-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;

    &:hover {
        .nav-controls {
            display: flex;
        }
    }

    /*
    * CSS for the Container housing generated HTML
    */
    .html-output-container {
        $font-size: 13px;

        //font-family: "monospace";
        padding: 0.25rem;
        line-height: 1;
        overflow-x: auto;
        flex-grow: 1;

        &:focus {
            outline: none;
        }

        &.text-wrap {
            overflow-wrap: break-word;
        }

        /*
        * CSS for generated HTML
        */
        hr {
            color: dodgerblue;
            margin: 0 0 10px;
        }

        %null {
            color: #797e81;
        }

        .null {
            @extend %null;
        }

        .cyclic-reference {
            font-style: italic;
            font-size: $font-size - 1;
            color: red;
        }

        .empty-collection {
            @extend %null;
        }

        /* GROUPS */
        .group {
            padding: 0.25rem;
            border-left: 2px transparent solid;

            &.error {
                @extend %text-red;
            }

            &.titled {
                border-left: 2px orange solid;
                margin-top: 0.5rem;
                margin-bottom: 1rem;

                &.collapsed {
                    .title {
                        border-bottom: 2px greenyellow dotted;
                    }

                    .text {
                        display: none;
                    }
                }
            }
        }

        .title {
            width: fit-content;
            padding-right: 8px;
            padding-bottom: 1px;
            border-bottom: 2px dodgerblue dotted;
        }

        /* TABLES */
        table.table {
            $table-outline-color: #2e79a2;

            width: initial;
            margin: 5px 0;
            border-color: $table-outline-color;

            thead tr {
                position: sticky !important;
                top: -3px;
                z-index: 1;
            }

            &.collapsed > tbody,
            &.collapsed > thead > .table-data-header {
                display: none;
            }

            table {
                margin: 0;
            }

            th {
                line-height: 1;
                padding: 3px 5px;
                color: white;
                background-color: $table-outline-color;

                &:not(:last-of-type) {
                    border-right: 1px #3da3da solid;
                }

                &.table-info-header {
                    background-color: #525252;
                    border-color: #525252;
                    border-top-width: 1px;
                }

                a {
                    color: white;
                }
            }

            td {
                line-height: $font-size + 5;
                padding: 0 5px;

                > table {
                    margin-top: 4px !important;
                    margin-bottom: 4px !important;
                }
            }

            tbody td {
                overflow-wrap: break-word;
            }

            tbody {
                border-top-width: 0;
            }

            .property-name {
                font-weight: bold;
            }

            .collapse-actionable {
                cursor: pointer;
            }
        }
    }
}
