output-view-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        > div {
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;
            padding: 0.25rem 0.6rem;

            &:not(:last-child) {
                margin-right: 0.35rem;
            }

            &:hover {
                background: var(--hover-color);
            }

            &.active {
                background: var(--hover-color);
                color: var(--active-color);
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .action:not(:last-child) {
            margin-right: 0.75rem;
        }

        .action.has-actions {
            margin-right: 0.25rem;
        }

        div[data-bs-toggle="dropdown"] {
            cursor: pointer;
            user-select: none;

            &:hover {
                background: var(--hover-color);
            }
        }
    }
}
