@import "./bootstrap";
@import "./splitjs";
@import "~styles/themes";

body, html {
    height: 100%;
}

.window {
    height: 100vh;
    @include theme(background-color, backgroundColor);
    @include theme(color, textColor);
}

.flex-grow-height-restricted {
    flex-grow: 1;
    min-height: 0;
}

hr {
    @include theme(color, borderColor);
}

.clickable {
    cursor: pointer;
}

.action-icon {
    @extend .clickable;
    color: gray;

    &:hover {
        @include theme(color, actionIconHoverColor);

        &::before {
            font-weight: bold !important;
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    @include theme(background-color, scrollbarTrackColor);
}

::-webkit-scrollbar-thumb {
    @include theme(background-color, scrollbarThumbColor);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

@each $color in map-keys($colors) {
    .text-#{"" + $color} {
        color: map-get($colors, $color) !important;
    }

    .hover-text-#{"" + $color}:hover {
        color: map-get($colors, $color) !important;
    }
}
