@import "./themes";

.flex-grow-height-restricted,
%flex-grow-height-restricted {
    flex-grow: 1;
    min-height: 0;
}

.flex-1 {
    flex: 1;
}

.min-h-0 {
    min-height: 0;
}

.min-w-0 {
    min-width: 0;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

hr {
    @include theme(color, borderColor);
}

kbd {
    @include theme(background-color, kbdBackground);
}

.clickable,
%clickable {
    cursor: pointer;
}

.btn.btn-basic {
    background: transparent;
}

.action-icon {
    @extend %clickable;
    @include theme(color, actionIconColor);

    &:hover {
        @include theme(color, actionIconHoverColor);

        // &::before {
        //     font-weight: bold !important;
        // }
    }

    &.active {
        @include theme(color, activeColor);
    }
}

.active-context-menu-target {
    @include theme(background-color, hoverColor);
}

.text-truncate-1-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Multi line truncating uses line clamps
%text-truncate-multi-line {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.text-truncate-2-lines {
    @extend %text-truncate-multi-line;
    -webkit-line-clamp: 2;
}

.text-truncate-3-lines {
    @extend %text-truncate-multi-line;
    -webkit-line-clamp: 3;
}

%hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @include theme(background-color, scrollbarTrackColor);
}

::-webkit-scrollbar-thumb {
    @include theme(background-color, scrollbarThumbColor);
}

::-webkit-scrollbar-corner {
    @include theme(background-color, scrollbarTrackColor);
}

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
