body,
html {
    height: 100%;
    font-size: 13px;
}

.window {
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include theme(background-color, backgroundColor);
    @include theme(color, textColor);

    .bottom-buttons-bar {
        @extend .p-3;
        @include theme(border-top, borderColor, 1px solid);
        display: flex;

        button:not(:last-of-type) {
            margin-right: 0.375rem;
        }
    }
}

.tabs {
    .nav-item {
        @include theme(background-color, tabColor);
        border-bottom: 2px solid transparent;
        margin-right: 1px;

        &.active {
            font-weight: bold;
            @include theme(background-color, tabActiveColor);
            @include theme(border-bottom, activeColor, 2px solid);
        }

        &:hover {
            @include theme(background-color, tabActiveColor);
        }

        .nav-link {
            border: none;
            padding-top: $tab-vertical-padding;
            padding-bottom: $tab-vertical-padding;
            @include theme(color, textColor);

            &:hover {
                border: none;
                cursor: pointer;
            }
        }
    }
}

.tab-content {
    @extend %flex-grow-height-restricted;
    /* stylelint-disable scss/at-extend-no-missing-placeholder -- bootstrap doesn't provide placeholders */
    @extend .d-flex;
    @extend .flex-column;
    /* stylelint-enable scss/at-extend-no-missing-placeholder */
}

.dialog {
    @include theme(background-color, dialogBackgroundColor);
    @include theme(color, textColor);

    min-width: 100px;
    min-height: 50px;

    .bottom-bar {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        .buttons {
            text-align: right;
            margin-left: auto;
        }
    }
}

.dialog-overlay {
    background-color: rgb(0 0 0 / 50%);
}

.theme-dark {
    .btn-themed {
        @extend .btn-dark;
    }
}

.theme-light {
    .btn-themed {
        @extend .btn-light;
    }
}
