@import "~styles/themes";

results-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;

    .toolbar {
        padding: 0.1rem 0;
        @include theme(background-color, resultsToolbarBackground);

        .actions-right > * {
            margin-right: 0.3rem;
        }
    }

    .results {
        padding: 0.25rem;
        font-family: monospace;
        font-size: 0.90rem;
        overflow-x: auto;
        flex-grow: 1;

        &.text-wrap {
            overflow-wrap: break-word;
        }
    }


    .results {
        hr {
            color: dodgerblue;
            margin: 0 0 10px;
        }

        .null {
            color: #797e81;
            font-style: italic;
        }

        .cyclic-reference {
            font-style: italic;
            font-size: 10px;
            color: red;
        }

        /* GROUPS */
        .group {
            padding: 0.25rem 0.25rem;
            border-left: 2px transparent solid;

            &.text {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .titled.group {
            border-left: 2px orange solid;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }

        .title {
            width: fit-content;
            padding-right: 8px;
            padding-bottom: 1px;
            border-bottom: 2px dodgerblue dotted;
        }

        /* TABLES */
        table.table {
            $table-outline-color: #2e79a2;

            width: initial;
            margin: 5px 0;
            border-color: $table-outline-color;

            table.table {
                margin: 0;
            }

            &.collapsed > tbody {
                visibility: collapse;
            }

            td, th {
                padding: 4px 5px;
                line-height: 100%;
            }

            th {
                color: white;
                background-color: $table-outline-color;

                &.table-item-count {
                    background-color: #525252;
                    border-color: #525252;
                    border-top-width: 1px;
                }

                a {
                    color: white;
                }
            }

            tbody {
                border-top-width: 0;
            }

            .property-name {
                font-weight: bold;
            }

            .collapse-actionable {
                cursor: pointer;
            }
        }
    }
}
