script-toolbar {
    background: var(--bg0);
    padding: 0.3rem 0.5rem;
    flex-shrink: 0;
    user-select: none;

    .group {
        display: flex;
        align-items: center;

        &:not(:first-of-type) {
            margin-left: 1rem;
        }
    }

    .group-label {
        font-size: 0.85em;
    }

    select {
        line-height: 1rem !important;
    }

    .toolbar-icon-button {
        background: transparent;
        border: 1px solid transparent;
        color: var(--text-2);
        transition: background 0.15s ease-in-out;

        &:hover:not(:disabled) {
            background: var(--hover);
            color: var(--text);
        }

        &:disabled {
            opacity: 0.4;
            border-color: transparent;
        }
    }

    .run-button {
        background: var(--run);
        border-color: var(--run);
        color: var(--run-text);

        &:hover {
            background: var(--run);
            border-color: var(--run);
            filter: brightness(1.1);
        }
    }

    .stop-button {
        background: var(--err);
        border-color: var(--err);
        color: var(--accent-text);

        &:hover:not(:disabled) {
            filter: brightness(1.1);
        }

        .stop-icon {
            color: inherit;
        }
    }

    .save-icon {
        opacity: 0.5;
    }

    .save-icon.is-dirty {
        opacity: 1;
    }

    .save-icon.is-dirty::after {
        font-size: 0.55rem;
        content: "●";
        color: var(--text-3);
        margin-left: -0.2rem;
        position: absolute;
    }

    .dotnet-runtime-selector {
        min-width: 70px;
    }

    .script-kind-selector {
        min-width: 100px;
    }

    .data-connection-selector {
        min-width: 250px;
    }

    .optimization-level-selector {
        width: 80px;
    }
}

.comfy script-toolbar {
    padding: 0.45rem 0.5rem;

    button {
        padding: 0.1rem 0.675rem;
        font-size: 1rem;
    }
}
