@import "~styles/themes";

script-environments .nav-tabs {
    overflow-x: auto;
    overflow-y:hidden;
    flex-wrap: nowrap;

    .script-tab {
        white-space: nowrap;
        margin-right: 1px;

        @include theme(background-color, tabColor);
        font-weight: bold;
        cursor: default;
        height: 1.6rem;
        font-size: 0.75rem;
        padding-right: 3px;

        .text {
            padding-left: 0.5rem;
            padding-right: 0.3rem;
            height: 100%;
            user-select: none;
        }

        .bi {
            line-height: 100%;
        }

        &:hover {
            @include theme(background-color, tabActiveColor);
        }

        &.active {
            color: dodgerblue;
            @include theme(background-color, tabActiveColor);
        }

        &.new-script-tab {
            padding-left: 0.4rem;
            padding-right: 0.4rem;
        }
    }
}
