@import "~styles/common";
@import "~styles/themes";

script-environments .script-tabs {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    @include theme(border-bottom, borderColor, 1px solid);

    .drag-drop-container {
        @extend %hide-scrollbar;
        flex-wrap: nowrap;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .script-tab {
        height: 1.6rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 0.75rem;
        font-weight: bold;
        cursor: default;
        @include theme(background-color, tabColor);

        &:not(:last-child) {
            margin-right: 1px;
        }

        .script-tab-content {
            display: flex;
            padding-left: 0.5rem;
            padding-right: 0.3rem;
            user-select: none;
        }

        .script-status {
            margin-left: 0.35rem;
            display: flex;
            align-items: center;
        }

        .script-tab-addon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18px;
            width: 15px;
            margin-right: 3px;

            .script-dirty-flag {
                display: none;
            }

            &.is-dirty:not(:hover) {
                .script-tab-close-button {
                    display: none;
                }

                .script-dirty-flag {
                    display: block;
                }
            }
        }

        .script-running-indicator {
            height: 0.65rem;
            width: 0.65rem;
        }

        &:hover {
            @include theme(background-color, tabActiveColor);
        }

        &.active {
            @include theme(background-color, tabActiveColor);

            .script-name {
                color: dodgerblue;
            }
        }

        &.new-script-tab {
            margin-left: 1px;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
        }
    }
}
