@import "~styles/common";
@import "~styles/themes";

script-environments {
    min-width: 0;
    overflow: hidden;

    .script-tabs-bar {
        display: flex;
        align-items: center;

        .actions {
            flex-basis: 20px;
            min-width: 20px;
            text-align: right;
        }
    }

    .script-tabs {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-grow: 1;
        overflow-x: auto;
        overflow-y: hidden;

        .drag-drop-container {
            @extend %hide-scrollbar;
            flex-wrap: nowrap;
            flex-grow: 1;
            display: flex;
            align-items: center;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        .script-tab {
            height: 1.8rem;
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: 0.925rem;
            cursor: default;
            @include theme(background-color, tabColor);

            &:not(:last-child) {
                margin-right: 1px;
            }

            .script-tab-content {
                display: flex;
                align-items: center;
                height: 100%;
                padding-left: 0.7rem;
                padding-right: 0.4rem;
                user-select: none;
            }

            .script-status {
                margin-left: 0.45rem;
                display: flex;
                align-items: center;
            }

            .script-tab-addon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 18px;
                width: 15px;
                margin-right: 3px;

                .script-dirty-flag {
                    display: none;
                }

                &.is-dirty:not(:hover) {
                    .script-tab-close-button {
                        display: none;
                    }

                    .script-dirty-flag {
                        display: block;
                    }
                }
            }

            .script-running-indicator {
                height: 0.65rem;
                width: 0.65rem;
            }

            &:hover {
                @include theme(background-color, tabActiveColor);
            }

            &.active {
                @include theme(background-color, tabActiveColor);
                font-weight: bold;

                .script-name {
                    color: dodgerblue;
                }
            }

            &.new-script-tab {
                margin-left: 1px;
                padding-left: 0.6rem;
                padding-right: 0.6rem;
            }
        }
    }

    &.style2 {
        border-bottom: none !important;

        .script-tab {
            @include theme(background-color, tabColor);
            font-weight: normal !important;
            border-top: transparent 2px solid;
            border-bottom: transparent 2px solid;

            .script-name {
                @include theme(color, tabInactiveTextColor);
            }

            &.active {
                @include theme(background-color, tabActiveColor);
                @include theme(border-bottom, borderContrastColor, 2px solid);
                @include theme(border-bottom-color, activeColor);

                .script-name {
                    @include theme(color, tabActiveTextColor);
                }
            }

            &.new-script-tab {
            }
        }
    }

    &.comfy {
        .script-tab {
            height: 2.5rem !important;
            font-size: 1rem !important;

            .script-tab-content {
                padding-left: 1.3rem !important;
            }

            .script-tab-addon {
                margin-right: 8px !important;
            }
        }

        .script-tabs-bar {
            .actions {
                font-size: 1.2rem;
            }
        }
    }
}
