@import "~styles/variables";
@import "~styles/themes";

statusbar {
    @include theme(background-color, statusbarBackground);
    height: $statusbar-height;
    max-height: $statusbar-height;
    padding: 0 0.5rem;
    display: flex;
    line-height: $statusbar-height;
    overflow: hidden;

    .left-column,
    .middle-column,
    .right-column {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }

    .left-column {
        font-size: 0.9rem;
    }

    .middle-column {
        justify-content: center;
        font-size: 0.9rem;
    }

    .right-column {
        justify-content: flex-end;

        > * {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    .active-app-status-message {
        max-width: 35rem;
    }

    .statusbar-item {
        > i {
            margin-right: 0.25rem;
        }
    }

    .clickable,
    .action-icon {
        cursor: pointer;
        user-select: none;

        &:hover {
            @include theme(background-color, hoverColor);
        }
    }
}
