reference-management {
    #references-list {
        overflow-y: auto;

        td {
            white-space: nowrap;
        }
    }

    .options {
        flex-shrink: 0;
        flex-grow: 0;
        padding: 0.3rem 0.3rem 0;
        border-top: var(--border-color) 1px solid;
    }
}
