syntax-tree-view {
    tree-node {
        position: relative;
    }

    .nesting-line {
        position: absolute;
        left: 3.5px;
        top: 20px;
        bottom: 0;
        width: 1px;
        background: var(--line-soft);
    }

    .tree-node-header {
        cursor: default;
    }

    .tree-node-header:hover {
        background-color: var(--hover);

        .tree-node-header-right {
            color: var(--text);
        }
    }

    .tree-node-header-right {
        font-family: var(--font-mono);
        margin-left: auto;
    }

    tree-node tree-node {
        margin-left: 1.5rem;
    }

    syntax-trivia,
    .value-trivia {
        margin-left: 3rem;
    }

    .value-text {
        color: var(--syntax-type);
    }

    .char-span {
        color: var(--text-3);
        min-width: 8rem;
        display: inline-block;
        text-align: right;
    }
}
