@import "~styles/themes";

script-environment-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 0.5rem;

    .script-kind-selector {
        max-width: 150px;
        display: inline-block;
    }

    .text-editor-container {
        min-height: 200px;
        flex: 1;

        .text-editor {
            height: 100%;
        }
    }

    .results-container {
        flex: 1;
        padding: 0.25rem;
        @include theme(background-color, resultsBackground);

        .toolbar {
            padding: 0.1rem 0;
            @include theme(background-color, resultsToolbarBackground);
        }
    }

    .results {
        font-family: monospace;
        overflow-y: auto;
    }
}
