@import "~styles/themes";

script-environment-view {
    padding-top: 0.5rem;

    .script-kind-selector {
        max-width: 150px;
        display: inline-block;
    }

    .text-editor-container {
        .text-editor {
            height: 100%;
        }
    }

    .results-container {
        display: flex;
        flex-direction: column;
        @include theme(background-color, resultsBackground);

        .toolbar {
            padding: 0.1rem 0;
            @include theme(background-color, resultsToolbarBackground);
        }
    }

    .results {
        padding: 0.25rem;
        font-family: monospace;
        overflow-x: auto;
        flex-grow: 1;

        &.text-wrap {
            overflow-wrap: break-word;
        }
    }
}
