@import "~styles/themes";

script-environment-view {
    padding-top: 0.5rem;
    min-height: 0;

    .script-kind-selector {
        max-width: 150px;
        display: inline-block;
    }

    .text-editor-container {
        min-height: 200px;
        flex: 1;

        .text-editor {
            height: 100%;
        }
    }

    .results-container {
        flex: 1;
        min-height: 0;
        min-width: 0;
        display: flex;
        flex-direction: column;
        padding: 0.25rem;
        @include theme(background-color, resultsBackground);

        .toolbar {
            padding: 0.1rem 0;
            @include theme(background-color, resultsToolbarBackground);
        }
    }

    .results {
        font-family: monospace;
        overflow-x: auto;

        &.text-wrap {
            overflow-wrap: break-word;
        }
    }
}
