<div ref="dumpContainerWrapper"
     class="dump-container-wrapper ${dumpContainer.textWrap ? 'text-wrap' : ''}"></div>

<div portal="#sqlOutputPaneToolbarRightPortal" class="d-flex align-items-center gap-3">
    <div>
        <span class="dropdown-toggle text-semibold"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              title="Show/Hide EF Core logs.">
            Log
            <span show.bind="dumpContainer.logLength">(${dumpContainer.logLength})</span>
        </span>
        <ul class="dropdown-menu">
            <li repeat.for="logger of dumpContainer.loggers">
                <button class="dropdown-item"
                        click.trigger="dumpContainer.toggleLogger(logger[0])">
                    <np-icon name="check" class="me-3 ${logger[1].active ? '' : 'invisible'}"></np-icon>
                    <span>
                        ${logger[0]}
                        <span class="float-end ms-5 badge">${logger[1].count}</span>
                    </span>
                </button>

                <div class="dropdown-divider" if.bind="$index === 0"></div>
            </li>
        </ul>
    </div>

    <span class="toolbar-divider"></span>

    <np-icon name="navigate-top" class="icon-button"
       click.trigger="dumpContainer.navigationControls.navigateTop()"
       title="Top"></np-icon>

    <np-icon name="chevron-up" class="icon-button"
       click.trigger="dumpContainer.navigationControls.navigateUp()"
       title="Previous"></np-icon>

    <np-icon name="chevron-down" class="icon-button"
       click.trigger="dumpContainer.navigationControls.navigateDown()"
       title="Next"></np-icon>

    <np-icon name="navigate-bottom" class="icon-button"
       click.trigger="dumpContainer.navigationControls.navigateBottom()"
       title="Bottom"></np-icon>

    <span class="toolbar-divider"></span>

    <np-icon name="scroll-on-output" class="icon-button ${dumpContainer.scrollOnOutput ? 'active' : ''}"
       click.trigger="dumpContainer.scrollOnOutput = !dumpContainer.scrollOnOutput"
       title="Scroll on Output"></np-icon>

    <np-icon name="text-wrap" class="icon-button ${dumpContainer.textWrap ? 'active' : ''}"
       click.trigger="dumpContainer.textWrap = !dumpContainer.textWrap"
       title="Text Wrap"></np-icon>

    <np-icon name="theme" class="icon-button ${dumpContainer.colorize ? 'active' : ''}"
       click.trigger="dumpContainer.colorize = !dumpContainer.colorize"
       title="Color output - turn off for better 'Find Text' (CTRL + F) accuracy"></np-icon>

    <span class="toolbar-divider"></span>

    <np-icon name="clear-output" class="icon-button"
       click.trigger="dumpContainer.clearOutput()"
       title="Clear"></np-icon>
</div>
