package-management {
    .column {
        padding-left: 3px;
        padding-right: 3px;
    }

    .column-header {
        flex: 0 0 35px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        border-bottom: var(--line-soft) 1px solid;
    }

    .details-list {
        word-break: break-word;

        li {
            margin-bottom: 5px;
        }
    }

    .package-version-picker-modal-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: var(--backdrop);

        .package-version-picker-modal {
            height: 60%;
            width: 25%;
            background-color: var(--bg1);
            border: 1px solid var(--line);
            border-radius: 10px;
            padding: 10px;
        }
    }

    .package {
        &.active {
            background: var(--accent-dim);
        }

        .package-container {
            display: flex;
            align-items: center;

            .package-description {
                flex-grow: 1;
                min-width: 0;
            }

            .package-actions {
                flex: 0 0 120px;
                text-align: right;
            }
        }
    }

    .dropdown-item np-icon {
        margin-right: 4px;
    }

    .search-bottom-bar {
        border-top: var(--line-soft) 1px solid;
    }
}
