@import "~styles/themes";

package-management {
    .column {
        padding-left: 3px;
        padding-right: 3px;
    }

    .column-header {
        flex: 0 0 35px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        @include theme(border-bottom, borderColor, 1px solid);
    }

    .details-list > li {
        margin-bottom: 5px;
    }

    .package-version-picker-modal-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);

        .package-version-picker-modal {
            height: 60%;
            width: 25%;
            background-color: #313131;
            padding: 10px;
        }
    }

    .package {
        .package-container {
            display: flex;
            align-items: center;

            .package-description {
                flex-grow: 1;
                min-width: 0;
            }

            .package-actions {
                flex: 0 0 100px;
                text-align: right;
            }
        }
    }
}
