@use "sass:list";
@use "sass:map";
@import "./functions";

/*
  @mixin generate-theme-mappings(theme-name: string, themeMap: map)
  helper function for generating list of theme variables and adding to existing map.
  This will add a new theme to the themes array and the theme color list.
*/
@mixin generate-theme-mappings($theme-name, $newThemeMap) {
    // creates/adds to list of theme names
    $themes: list.append($themes, $theme-name, $separator: comma) !global;

    @each $key, $value in $newThemeMap {
        // adds new themeKey if doesn't exist
        @if not map.has-key($theme-values, $key) {
            $theme-values: map.merge(
                $theme-values,
                (
                    $key: (
                        $theme-name: $value,
                    ),
                )
            ) !global;
        }

        // adds to existing key map
        @else {
            $existing-key-map: map.get($theme-values, $key);

            // if theme variable doesn't exist, add it
            @if not map.get($existing-key-map, $theme-name) {
                $new-key-map: map.merge(
                    $existing-key-map,
                    (
                        $theme-name: $value,
                    )
                );
                $theme-values: map.merge(
                    $theme-values,
                    (
                        $key: $new-key-map,
                    )
                ) !global;
            }
        }
    }
}

/*
  @mixin generate-theme-variables
  Auto-generates the entire list of theme variables for use in var() statements.
  Really should only be called in the html selector at the app root.
*/
@mixin generate-theme-variables {
    @each $theme in $themes {
        .#{$theme} {
            @each $key, $val in $theme-values {
                @if theme-exists($key, $theme) {
                    --#{$key}: #{get-theme-value($key, $theme)};
                }
            }
        }
    }
}
