@import "~styles/themes";

output-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;

    .toolbar {
        @include theme(background-color, resultsToolbarBackground);

        .tabs {
            display: flex;
            flex-direction: row;
            align-items: center;

            > div {
                cursor: pointer;
                user-select: none;
                padding-left: 0.35rem;
                padding-right: 0.35rem;

                &:first-child {
                    margin-left: 0.35rem;
                }

                &:not(:last-child) {
                    margin-right: 0.35rem;
                }

                &:hover {
                    @include theme(background-color, hoverColor);
                }

                &.active {
                    @include theme(color, activeColor);
                }
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .action-icon {
                margin-right: 0.3rem;
            }
        }
    }
}
