@import "~styles/common";
@import "~styles/colors";

tab-bar {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;

    .drag-drop-container {
        @extend %hide-scrollbar;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .view-tab {
        height: 2rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 0.925rem;
        cursor: pointer;
        @include theme(background-color, tabColor);

        &:not(:last-child) {
            margin-right: 1px;
        }

        .view-tab-content {
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 0.7rem;
            padding-right: 0.4rem;
            user-select: none;
        }

        .script-status {
            margin-left: 0.45rem;
            display: flex;
            align-items: center;
        }

        .database-icon.is-production {
            @extend %text-orange;
        }

        .view-tab-addon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 18px;
            width: 15px;
            margin-right: 3px;

            .dirty-flag {
                display: none;
            }

            &.is-dirty:not(:hover) {
                .view-tab-close-button {
                    display: none;
                }

                .dirty-flag {
                    display: block;
                }
            }
        }

        .script-running-indicator {
            height: 0.65rem;
            width: 0.65rem;
        }

        &:hover {
            @include theme(background-color, tabActiveColor);
        }

        &.active {
            @include theme(background-color, tabActiveColor);
            font-weight: bold;

            .script-name {
                color: dodgerblue;
            }
        }

        &.new-tab {
            margin-left: 1px;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            background-color: transparent;
        }
    }
}

.minimal {
    .view-tab {
        @include theme(background-color, tabColor);
        font-weight: normal !important;
        border-top: transparent 2px solid;
        border-bottom: transparent 2px solid;

        .script-name {
            @include theme(color, tabInactiveTextColor);
            display: flex;
            align-items: center;
        }

        &.active {
            @include theme(background-color, tabActiveColor);
            @include theme(border-bottom, borderContrastColor, 2px solid);

            .script-name {
                @include theme(color, tabActiveTextColor);
            }
        }

        &.new-tab {
            background-color: transparent;
        }
    }

    .viewer-host.active {
        .view-tab.active {
            @include theme(border-bottom-color, activeColor);
        }
    }
}

.comfy {
    tabs-bar {
        .actions {
            font-size: 1.2rem;
        }
    }

    .view-tab {
        height: 2.5rem !important;
        font-size: 1rem !important;

        .view-tab-content {
            padding-left: 0.95rem !important;
        }

        .view-tab-addon {
            margin-right: 8px !important;
        }
    }
}
