@import "~styles/themes";

sidebar {
    @include theme(background-color, sidebarBackground);

    .connection-list {
        min-height: 15rem;
    }

    .script-list {
    }

    .list-group-item {
        @include theme(background-color, sidebarBackground);
        @include theme(color, textColor);
        border-right: none;
        border-left: none;

        &:hover {
            @include theme(background-color, hoverColor);
        }
    }
}
