@import "~styles/themes";

script-environment-view {
    padding-top: 0.5rem;

    .script-kind-selector {
        max-width: 150px;
        display: inline-block;
    }

    .results-container {
        display: flex;
        flex-direction: column;
        @include theme(background-color, resultsBackground);
    }
}
