@import "~styles/themes";

script-environment-view {
    padding-top: 0.5rem;

    .script-kind-selector {
        min-width: 150px;
    }

    .data-connection-selector {
        min-width: 200px;
        max-width: 350px;
    }

    .output-container {
        display: flex;
        flex-direction: column;
        @include theme(background-color, resultsBackground);
    }
}
