@import "~styles/main";
@import "~styles/themes";

script-environment-view {
    .header {
        @include theme(background-color, scriptHeaderBackground);
        padding: 0.25rem 0.5rem;
    }

    .script-kind-selector {
        min-width: 150px;
    }

    .data-connection-selector {
        min-width: 200px;
        max-width: 350px;
    }

    .output-container {
        display: flex;
        flex-direction: column;
        @include theme(background-color, resultsBackground);
    }

    .production-marker {
        @extend %bg-orange;
        @extend %text-black;
        writing-mode: vertical-rl;
        font-weight: bold;
        text-align: center;
        cursor: default;
    }
}

.comfy script-environment-view {
    .header {
        padding: 0.45rem 0.5rem;

        button {
            padding: 0.1rem 0.675rem;
            font-size: 1rem;
        }
    }
}
