@import "~styles/main";
@import "~styles/themes";

sidebar {
    @include theme(background-color, sidebarBackground);

    #script-list > script-folder {
        overflow: auto;

        .list-group-item {
            border-right: none;
            border-left: none;
            border-width: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
            user-select: none;
            @include theme(background-color, sidebarBackground);

            &.script-folder {
                padding: 4px 8px;

                &:hover {
                    .open-folder-button {
                        visibility: visible;
                    }
                }
            }

            &.script {
                padding: 4px 8px;
                display: flex;
                flex-direction: row;

                .script-content {
                    flex-grow: 1;
                }

                .script-metadata {
                    text-align: right;
                    white-space: nowrap;
                    padding-left: 0.25rem;
                }

                .script-status {
                    &.spinner-border {
                        height: 0.75rem;
                        width: 0.75rem;
                    }
                }

                .script-dirty-flag {
                    @extend .text-yellow;
                }

                &.is-active {
                    .script-name {
                        @extend .text-blue;
                    }
                }

                &.is-open {
                    .script-icon {
                        @extend .text-blue;
                    }
                }

                &.is-dirty {

                }

                &:hover {
                    @include theme(background-color, hoverColor);
                }
            }

            .open-folder-button {
                visibility: hidden;
            }
        }

        .open-folder-button {
            visibility: hidden;
        }
    }
}
