@import "~styles/main";
@import "~styles/themes";

sidebar {
    @include theme(background-color, sidebarBackground);

    #script-list > script-folder {
        overflow: auto;

        .list-group-item {
            border-right: none;
            border-left: none;
            border-width: 0;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
            user-select: none;
            @include theme(background-color, sidebarBackground);

            &.script-folder {
                padding: 4px 8px;

                &:hover {
                    .script-folder-open-icon {
                        visibility: visible;
                    }
                }
            }

            &.script {
                padding: 4px 8px;
                display: flex;
                flex-direction: row;

                .script-content {
                    flex-grow: 1;
                }

                .script-metadata {
                    display: flex;
                    align-items: center;
                    text-align: right;
                    white-space: nowrap;
                    padding-left: 0.25rem;
                }

                .script-status {
                    display: flex;
                    align-items: center;
                    margin-right: 0.20rem;
                }

                .script-dirty-flag {
                    @extend .text-orange;
                }

                &.is-active {
                    .script-name {
                        @extend .text-blue;
                    }
                }

                &.is-open {
                    .script-icon {
                        @extend .text-blue;
                    }
                }

                &.is-dirty {

                }

                &:hover {
                    @include theme(background-color, hoverColor);
                }
            }

            .script-folder-open-icon {
                @extend .text-blue;
                visibility: hidden;
            }

            .tree-expand-node-icon, .tree-collapse-node-icon {
                @extend .text-orange;
            }

            .script-running-indicator {
                height: 0.65rem;
                width: 0.65rem;
            }
        }
    }
}
