text-editor {
    width: 100%;
    height: 100%;
}

.monaco-editor {
    .code-text-error {
        text-decoration: wavy underline red;
    }

    span[class*=" dyn-rule"],
    span[class^="dyn-rule"] {
        color: gray;
        font-size: 80%;
        margin-right: 2px;
        padding: 0 2px;
        border-radius: 4px;
    }

    .monaco-inputbox input:active,
    .monaco-inputbox input:focus{
        outline-color: #0d6efd;
        outline-style: solid;
    }

    // Code action popup needs some more width so it doesn't truncate words
    .action-widget {
        min-width: calc(15cqw) !important;
    }
}
