data-connections-list {
    display: flex;
    flex-direction: column;
    min-height: 0;

    .composite-action {
        display: inline-flex;
        align-items: baseline;
        gap: 1px;
        font-size: 11px;
    }

    .connection-error {
        cursor: default;
    }
}
