.app-dependencies-check-dialog {
    width: 600px;
    padding: 2rem;
    min-width: 200px;
    min-height: 200px;

    .section {
        margin-top: 2rem;

        &:last-of-type {
            margin-bottom: 2rem;
        }
    }

    .section-details {
        margin-left: 1.6rem;
        margin-top: 0.5rem;
    }

    .sdk-versions-list {
        margin-top: 0.5rem;
        max-height: 30vh;
        overflow: auto;
    }
}
