secrets-manager-pane {
    table {
        .icon-button {
            opacity: 0;
        }

        .icon-button:first-of-type {
            margin-left: 0.25rem;
        }

        tbody tr:hover .icon-button {
            opacity: 1;
            z-index: 1;
        }
    }
}
