$ribbon-width: 23px;

pane-host {
    display: flex;
    outline: none;

    .ribbon {
        display: flex;
        background: var(--pane-ribbon-background);
        user-select: none;
        cursor: default;

        .pane-tag {
            font-size: 0.9rem;
            display: flex;
            align-items: center;

            &.active {
                background: var(--tab-active-background);
            }

            &:hover {
                background: var(--hover-color);
            }
        }
    }

    .pane-content {
        background: var(--pane-background);
    }
}

pane-host.orientation-floatingwindow {
    height: 100%;
}

pane-host.orientation-left,
pane-host.orientation-right {
    flex-direction: row;
    min-width: $ribbon-width;

    .ribbon {
        flex-direction: column;
        width: $ribbon-width;
    }

    .pane-tag {
        writing-mode: vertical-lr;
        line-height: $ribbon-width;
        width: $ribbon-width;
        padding: 0.5rem 0.1rem;
        align-items: end;

        .pane-icon {
            margin-bottom: 0.5rem;
        }
    }

    .pane-content {
        min-width: 0;
    }
}

pane-host.orientation-left {
    .pane-tag {
        transform: rotate(180deg);

        .pane-icon {
            transform: rotate(180deg);
        }
    }
}

pane-host.orientation-bottom,
pane-host.orientation-floatingwindow {
    flex-direction: column-reverse;
    min-height: $ribbon-width;

    .ribbon {
        flex-direction: row;
        height: $ribbon-width;
    }

    .pane-tag {
        line-height: $ribbon-width;
        height: $ribbon-width;
        padding: 0.1rem 0.5rem;

        .pane-icon {
            margin-right: 0.5rem;
        }
    }

    .pane-content {
        min-height: 0;
    }
}
