$ribbon-width: 30px;

pane-host {
    display: flex;
    outline: none;

    .ribbon {
        display: flex;
        background: var(--pane-ribbon-background);
        user-select: none;
        cursor: default;
        flex-shrink: 0;

        .pane-tag {
            display: flex;
            align-items: center;
            justify-content: center;

            .pane-icon {
                font-size: 1.1rem;
                padding: 0.1rem 0.3rem;
                border-radius: 5px;

                &:hover {
                    background: var(--hover-color-contrast);
                }
            }

            &.active .pane-icon {
                background: var(--color-full);
            }
        }
    }

    .pane-content {
        background: var(--pane-background);
    }
}

pane-host.orientation-floatingwindow {
    height: 100%;
}

pane-host.orientation-left,
pane-host.orientation-right {
    flex-direction: row;
    width: $ribbon-width;

    .ribbon {
        flex-direction: column;
        width: $ribbon-width;
    }

    .pane-tag {
        margin: 0.35rem 0;
    }

    .pane-content {
        min-width: 0;
    }
}


pane-host.orientation-bottom,
pane-host.orientation-floatingwindow {
    flex-direction: column-reverse;
    height: $ribbon-width;

    .ribbon {
        flex-direction: row;
        height: $ribbon-width;
    }

    .pane-tag {
        margin: 0 0.35rem;
    }

    .pane-content {
        min-height: 0;
    }
}
