@import "~styles/themes";

$ribbon-width: 20px;

pane-host {
    min-width: $ribbon-width;

    .ribbon {
        width: $ribbon-width;
    }

    .pane-tag {
        line-height: $ribbon-width;
        width: $ribbon-width;
        writing-mode: vertical-lr;
        padding: 0.5rem 0.1rem;
    }

    &.left {
        .pane-tag {
            transform: rotate(180deg);

            .pane-icon {
                transform: rotate(180deg);
            }
        }
    }

    .ribbon {
        @include theme(background, paneRibbonBackground);

        .pane-tag {
            font-size: 0.90rem;
            user-select: none;
            display: flex;
            align-items: center;

            &:hover {
                @include theme(background-color, hoverColor);
            }

            &.active {
                @include theme(background-color, tabActiveColor);
            }
        }
    }

    .header {
        @include theme(border-bottom, borderColor, 1px solid);
    }

    .content {
        .content-container > * {
            flex-grow: 1;
            min-width: 0;
            display: flex;
        }
    }

    .pane-collapser {
        font-size: 17px;
        line-height: 100%;
    }
}
