query-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 0.5rem;
    background-color: #1e1e1e;

    .header {
        margin-bottom: 0.25rem;
    }

    .text-editor {
        background-color: red;
        flex: 1;
    }

    .results-container {
        flex: 1;
        padding: 0.25rem;
        background-color: #3e3e3e;
        color: white;
    }
}
