@import "~styles/themes";

.connection-window {
    padding: 1rem;

    .tabs-control-container {
        @include theme(border, borderColor, 1px solid);
    }

    .tab-content-container {
        padding: 0.5rem 1rem;
        overflow-y: auto;
    }

    .connection-type-logo {
        max-width: 1rem;

        //max-height: 1rem;
        margin-right: 0.25rem;
    }

    .connection-type-selector {
        > button {
            width: 100%;
            display: flex;
            align-items: center;

            &::after {
                margin-left: auto;
            }
        }
    }

    .required::after {
        content: "*";
        color: red;
    }

    .input-row {
        display: flex;
        margin-bottom: 1rem;
    }

    .label-column {
        width: 160px;
        font-size: 1rem;
        line-height: 1rem;
    }

    .col-form-label {
        @include theme(color, textHighestContrastColor);
        user-select: none;
    }

    .input-column {
        flex-grow: 1;
        font-size: 1rem;
    }

    .auth-input {
        max-width: 230px;
    }

    .general-settings {
        padding: 0 1rem;
    }

    .scaffolding-settings {
        .input-column {
            display: flex;
            gap: 0.2rem;
        }
    }
}
