toolbar {
    background: var(--script-toolbar-background);
    padding: 0.3rem 0.5rem;
    flex-shrink: 0;
    user-select: none;

    .group {
        display: flex;
        align-items: center;

        &:not(:first-of-type) {
            margin-left: 1rem;
        }
    }

    select {
        line-height: 1rem !important;
    }

    .save-icon {
        opacity: 50%;
    }

    .save-icon.is-dirty {
        opacity: 100%;
    }

    .save-icon.is-dirty::after {
        font-size: 0.55rem;
        content: '●';
        color: #1eb2f5;
        margin-left: -0.2rem;
        position: absolute;
    }

    .dotnet-runtime-selector {
        min-width: 70px;
    }

    .script-kind-selector {
        min-width: 100px;
    }

    .data-connection-selector {
        min-width: 250px;
    }

    .optimization-level-selector {
        width: 80px;
    }
}

.comfy toolbar {
    padding: 0.45rem 0.5rem;

    button {
        padding: 0.1rem 0.675rem;
        font-size: 1rem;
    }
}
