results-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    position: relative;

    .user-input-container {
        display: flex;
        align-items: center;
        padding: 0.5rem;

        label {
            margin-right: 0.5rem;
            padding-top: 0.35rem;
            padding-bottom: 0.35rem;
            line-height: 1rem;
        }
    }
}
