.nav-controls {
    $border-radius: 5px;

    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    right: 1rem;
    gap: 5px;
    border-radius: $border-radius;
    opacity: 0.65;

    &:hover {
        background: var(--background-color);
        opacity: 1;
    }

    button {
        border-radius: $border-radius;
        height: 1.7rem;
        width: 1.7rem;
        text-align: center;
        padding: 0.15rem 0.1rem;
        font-size: 12px;
        color: var(--text-color);

        &:hover {
            border-color: var(--border-contrast-color);
        }
    }
}
